/* Global */

.body {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 920px;
}

.game {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3.41px 3.657px 12.5px rgba(36,35,37,0.1);
}

.logo-block {
    text-align: center;
    width: 460px;
    height: 690px;
    background-color: #2c59be;
    background-image: url(/img/pattern.jpg);
}

.logo-block img {
    padding-top: 223px;
}

.content {
    width: 460px;
    height: 690px;
    background-color: #fff;
}