/* Global */

.wrapper {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

.logo {
    width: 460px;
    height: 690px;
    border-radius: 10px 0 0 10px;
    background-color: #2c59be;
    background-image: url(/img/pattern.jpg);
}